/out/production/works_2/com/hecate/labs/Lab_01_first.class
/out/production/works_2/com/hecate/labs/Lab_02_two.class
/out/production/works_2/com/hecate/labs/Lab_04_four.class
/out/production/works_2/com/hecate/labs/Lab_05_fifth.class
/out/production/works_2/com/hecate/labs/Lab_06_six.class
/out/production/works_2/com/hecate/labs/Lab_07_seven.class
/out/production/works_2/com/hecate/labs/Lab_08_eight.class
/out/production/works_2/com/hecate/labs/Lab_09_nine.class
/out/production/works_2/com/hecate/labs/Lab_10_ten.class
/out/production/works_2/com/hecate/labs/Lab_12_twelve.class
/out/production/works_2/com/hecate/labs/Lab_13_thirteen.class
/out/production/works_2/com/hecate/labs/Lab_14_.class
/out/production/works_2/com/hecate/labs/Lab_15_fifteenth.class
/out/production/works_2/com/hecate/Main.class
/out/production/works_2/com/hecate/tests/Test_01_first.class
/out/production/works_2/com/hecate/tests/Test_02_two.class
/out/production/works_2/com/hecate/tests/Test_04_four.class
/out/production/works_2/com/hecate/tests/Test_05_five.class
/out/production/works_2/com/hecate/tests/Test_06_six.class
/out/production/works_2/com/hecate/tests/Test_08_eight.class
/out/production/works_2/com/hecate/tests/Test_09_nine.class
/out/production/works_2/com/hecate/tests/Test_10_ten.class
/out/production/works_2/com/hecate/tests/Test_11_eleven.class
/out/production/works_2/com/hecate/tests/Test_12_twenty.class
/out/production/works_2/com/hecate/tests/Test_13_thirteen.class
/out/production/works_2/com/hecate/tests/Test_14_fourteenth.class
/out/production/works_2/com/hecate/tests/Test_15_fifteenth.class
/out/production/works_2/com/hecate/tests/Test_16_sixteenth.class
